<!DOCTYPE html>
<html>

<body>
  <table class="table">
	<tr>
		<th>Name</th>
		<th>Count</th>
		<th>Fresh</th>
    <th></th>
	</tr>
  <tr>
		<td><input class="form-control" ng-model="Name"></td>
    <td><input class="form-control" ng-model="Count"></td>
		<td><input class="form-control" ng-model="Fresh"></td>
    <td>

        <button ng-click="save()"><strong>save</strong></button>
        <button ng-click="cancel()"><strong>cancel</strong></button>

    </td>
	</tr>
  </table>
</body>

</html>
