body {
  width: 400px;
  margin: 20px;
}

#div-id {
    position: absolute;
    width: 65px;
    height: 65px;
    top: 70px;
    left: 20px;
    padding: 7px;
    border: 1px solid black;
    background-color: rgb(200, 70, 50);
}
