table, th, td  {
  border: 1px solid black;
}

th, td  {
  text-align: center;
  width: 100px;
  padding: 0px;
}

#image {
  position:relative;
  width: 100px;
  height: 18px;
  background:url(https://wallscover.com/images/stripes-wallpaper-2.jpg);
  background-size: cover;
}

#bar {
  position:absolute;
  width: 100px;
  height: 18px;
  position: absolute;
  right: 0px;
  background-color: white;
}

img {
  position:relative;
  width: 75px;
  height: 75px;
}
